---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Thomas Leese</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet" />

    <link href="/styles/normalize.css" rel="stylesheet" />
    <link href="/styles/colours.css" rel="stylesheet" />
    <link href="/styles/fonts.css" rel="stylesheet" />
    <link href="/styles/header.css" rel="stylesheet" />
    <link href="/styles/cards.css" rel="stylesheet" />
    <link href="/styles/footer.css" rel="stylesheet" />

    <link rel="icon" href="/images/icon.png" />
  </head>

  <body>
    <header class="header">
      <div class="container header-container">
        <span class="header-brand">Thomas Leese</span>

        <ul class="header-nav">
          <li><a href="/">Home</a></li>
        </ul>
      </div>

      <div class="header-bar bg-colour2"></div>
      <div class="header-bar bg-colour3"></div>
      <div class="header-bar bg-colour4"></div>
      <div class="header-bar bg-colour5"></div>
      <div class="header-bar bg-colour6"></div>
    </header>

    <main class="container">
      {{ content }}
    </main>

    <footer class="container">
      <hr class="footer-line" />

      <ul class="footer-nav">
        {% for social in site.data.socials %}
          <li>
            <a rel="me external" href="{{ social.url }}">
              <svg width="24" height="24" focusable="false" aria-hidden="true">
                <use href="/images/icons.svg#{{ social.icon }}"></use>
              </svg>
              <span>{{ social.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </footer>
  </body>
</html>
