---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Raleway:200" />

    <link href="/styles/theme.css" rel="stylesheet" />

    <link rel="icon" href="/images/icon.png" />
  </head>

  <body>
    {{ content }}

    <footer class="container">
      &copy; 2016 Thomas Leese
    </footer>

    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  </body>
</html>
