---
layout: base
---

<header class="frontpage">
  <div id="header-overlay"></div>

  <div id="header-logo">
    <h1>Thomas Leese</h1>
    <h2>Designer and Developer</h2>

    <a href="https://github.com/thomasleese"><span class="icon ion-social-github"></span></a>
    <a href="https://twitter.com/tomleese"><span class="icon ion-social-twitter"></span></a>
    <a href="mailto:inbox@thomasleese.me"><span class="icon ion-email"></span></a>
  </div>

  <div id="header-more">
    <span class="ion-chevron-down"></span>
  </div>
</header>

<main class="container">
  {{ content }}
</main>
