.footer-line {
    background: var(--colour5);
    border: none;
    height: 1px;
    border: 0;
    margin-bottom: 2rem;
}

.footer-nav {
    list-style-position: inside;
    padding-left: 0;
    margin: 12px -12px 48px -12px;
}

.footer-nav li {
    display: inline-block;
    margin: 0 12px;
}

.footer-nav li a:hover {
    text-decoration: none;
}

.footer-nav li svg {
    vertical-align: middle;
}

.footer-nav li span {
    vertical-align: middle;
}
