.container {
    width: 90%;
    margin: auto;
}

@media (min-width: 600px) {
    .container {
        width: 70%;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 60%;
    }
}

.header {
    background: var(--colour1);
    position: sticky;
    top: 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-brand {
    font-size: 1.3rem;
    font-weight: bold;
}

.header-nav li {
    display: inline-block;
}

.header-bar {
    height: 5px;
}
