header {
    background: black;
}

#header-overlay {
    background: rgb(20, 20, 20);
    background-image: url('../images/IMG_20141230_094336.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0;

    animation-name: fade-in-slightly;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in-slightly {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .5;
    }
}

#header-logo {
    display: block;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;

    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;

    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#header-logo h1 {
    text-transform: uppercase;
    font-size: 3.2rem;
}

#header-logo h2 {
    text-transform: lowercase;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

#header-logo > a {
    color: rgb(200, 200, 200);
    transition: color .1s;
}

#header-logo > a:hover {
    color: white;
}

#header-logo .icon {
    font-size: 1.4rem;
    margin: 0 .25rem;
}

#header-more {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -6px;

    color: white;

    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

section {
    margin: 5rem 0;
}

footer {
    color: rgb(200, 200, 200);
    margin: 1rem 0;
}
